html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Abril";
  src: url("/fonts/abril.ttf");
}

@font-face {
  font-family: "Zilla";
  src: url("/fonts/zilla.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat.ttf");
}

@media only screen and (min-width: 1024px) {
  .page__title {
    font-family: "Abril";
    font-weight: 700;
    font-size: 50px;
    color: rgb(41, 41, 41);
    margin: 0;
  }
}
