.container {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  padding: 20px 0;
  margin-top: 10px;
}

.card {
  padding: 25px 15px;
  border-radius: 10px;
  background: rgba(95, 74, 238, 0.027);
  transition: all 100ms linear;
}

.card:hover {
  background: rgba(95, 74, 238, 0.377);
  box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 24px -2px rgba(0, 0, 0, 0.25);
}

.user {
  display: flex;
}

.user__avatar {
  border-radius: 100%;
  overflow: hidden;
  height: 70px;
  width: 70px;
  min-width: 70px;
  position: relative;
}

.user__details {
  margin-left: 10px;
}

.user__email {
  font-family: "Zilla", sans-serif;
  margin-bottom: 5px;
}

.user__id {
  border-radius: 15px;
  border: 1px solid rgb(97, 78, 221);
  color: rgb(97, 78, 221);
  padding: 1px 10px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.user__name {
  font-family: "Abril", serif;
  font-size: 22px;
  margin: 0;
}

.container__btn {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.user__avatar__img {
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 768px) {
  .user__name {
    font-size: 25px;
  }
  .user__name {
    font-family: "Abril", serif;
    font-size: 2.5vw;
    margin: 0;
  }

  .user__avatar {
    height: 100px;
    width: 100px;
    min-width: 100px;
  }

  .container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1300px) {
  .user__name {
    font-size: 30px;
  }
  .user__details {
    margin-left: 25px;
  }
  .container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    margin-top: 50px;
  }
}
